<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="w-full h-full min-h-full min-w-full">
    <%= render "layouts/navbar" %>
    <%= render "layouts/messages" %>
    <%# <div class="flex justify-center items-center pt-10"> %>
      <div class='mx-auto'>

    <%= yield %>
    </div>
  </body>
</html>
